@import url('https://fonts.googleapis.com/css?family=Raleway:800i');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400');

body#md {
    position: absolute;
    font-family: "PT Sans", Arial, sans-serif;
    text-align: left;
    left: 200px;
    right: 0px;
    margin: 0;
    padding: 0;
    max-width: none;

    color: #555;
    font-size: 12px;
    padding-right: 4em;
    overflow-x: hidden;
    text-overflow: ellipses;
    font-style: normal;
    font-size: 24px;
}


.md .longTOC {
    width: 170px;
    display: block;
    border-right: 5px solid #00c8c8ff;
    overflow-y: scroll;
    font-size: 18px;
    font-family: inherit;
    background: #FFF;
    overflow: hidden;
    position: absolute;
    top: 90px;
    left: -190px;
    bottom: 0px;
    margin: 2px;
    padding: 2px;
    padding-top: 20px;
}

.scrolled .md .longTOC {
    position: fixed;
    left: 0px;
    top: 0px;
    border-left: 10px solid #fff;
}


/* no numbering of headings */
.md h1:before,
.md h2:before,
.md h3:before,
.md h4:before,
.md h5:before,
.md h6:before {
    content: none;
}

.md .longTOC a {
    color: #000;
    font-size: 120%;

}

.md .longTOC a::before {

    content: '» ';
}


.md .tocHeader,
.md .tocNumber {
    display: none;
}

.md a,
.md div.title,
contents,
.md .tocHeader,
.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6,
.md .nonumberh1,
.md .nonumberh2,
.md .nonumberh3,
.md .nonumberh4,
.md .nonumberh5,
.md .nonumberh6,
.md .shortTOC,
.md .mediumTOC,
.md .longTOC {
    font-family: inherit;
    font-style: normal;
}


.md div.title,
.md h1,
.md h2,
.md h3,
.md h4 {
    font-family: 'Comfortaa', Arial;
    font-weight: 800;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
    color: #00c8c8;
    border-color: inherit;
    border-bottom: 1px solid #00c8c8;
    font-size: 120%;
}

.md h2,
.md h3,
.md h4 {
    border: none;
}

.md .tocTop {
    display: inline;

}

.md div.title,
.md div.subtitle {
    text-align: left;
}

.md div.title {
    position: absolute;
    top: -0px;
    left: -200px;
    right: 0px;
    font-weight: 900;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    text-shadow: 0px 0px 3px #00c8c8;
    background-color: #00c8c8;
    background-image: url('../imgs/website_logo.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    color: #fff;
    font-size: 45px;
    z-index: 10;
}

.md div.afterTitles {
    height: 90px;
}

/* nav bar */
.navbar {
    background-color: #fff;
    height: 50px;
    width: 100%;
    /* rounded edges */

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black;
}

.navbar li {
    float: left;
    color: black;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navbar li a:link {
    color: black;
    text-decoration: none;
}

.navbar li a:visited {
    color: gray;
}


.navbar li a:hover {
    background-color: #00c8c8;
    color: black;
    text-decoration: none;
    -webkit-border-radius: 0px 0px 10px 10px;
}